.class[container]{
    position: relative;
}
   


label[delivre]{
    position: absolute;
	
	margin-top: 20px;
	top: 50;
    right: 0;
    left: 30;
}
label[cin]{
    position: absolute;
    right:0;
}

