<html >
  <head>
      <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css"> 
</head>
  <body> 
      <div class="card">

<div *ngIf="operation == 'ADD' || operation =='EDIT' || operation =='REMOVE'">
<div class="card-header text-right" >
    {{operation == 'ADD' ? 'ادخال' :
      operation == 'EDIT' ? 'تغيير' :
      operation == 'REMOVE' ? 'جذف' : ''}}
منتفع

</div>


<div class="card-body">
    <form [formGroup]="missionnaireForm">
      <div class="row">
      <div class="form-group col-md-4  text-right" >
        <label> مكانها </label>
        <input type="text" class="form-control" formControlName="place_cin" 
        [(ngModel)]="selectedMissionnaire.place_cin" >
      </div>
      <div class="form-group col-md-4 text-right" >
        <label for="delivre"> المسلمة يوم </label>
        <input type="date" class="form-control" formControlName="date_cin"      
        [(ngModel)]="selectedMissionnaire.date_cin" >
      </div>
     
      <div class="form-group col-md-4 text-right">
        <label for="cin"> الهوية الوطنية </label>
        <input type="text" class="form-control" formControlName="cin" 
        placeholder="Tapez dans ce champ 8 chiffres" autofocus pattern="[0-9]{8}" 
        name="cin" [(ngModel)]="selectedMissionnaire.cin" maxlength="8" >
      </div>
    </div>
    <div class="row">

      <div class="form-group col-md-6 text-right">
        <label>مكانها</label>
        <input type="text" class="form-control" formControlName="place_naissance" 
        [(ngModel)]="selectedMissionnaire.place_naissance" >
      </div>
        <div class="form-group col-md-6 text-right">
          <label> تاريخ الولادة </label>
          <input type="date" class="form-control" formControlName="datenaissance" 
          [(ngModel)]="selectedMissionnaire.datenaissance" >
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
          <label> RIB </label>
          <input type="text" class="form-control" formControlName="rib" 
          [(ngModel)]="selectedMissionnaire.rib" >
        </div>

        <div class="form-group col-md-6 text-right">
          <label> المعرف الوحيد </label>
          <input type="text" class="form-control" formControlName="matricule" 
          [(ngModel)]="selectedMissionnaire.matricule" >
        </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6">
          <label> Prenom </label>
          <input type="text" class="form-control" formControlName="prenomL"
          [(ngModel)]="selectedMissionnaire.prenomL" >
        </div>

        <div class="form-group col-md-6 text-right">
            <label>الاسم</label>
            <input type="text" class="form-control" formControlName="prenom" 
            [(ngModel)]="selectedMissionnaire.prenom" >
          </div>
    </div>
    <div class="row">

        <div class="form-group col-md-6 ">
          <label> Nom </label>
          <input type="text" class="form-control" formControlName="nomL" 
          [(ngModel)]="selectedMissionnaire.nomL" >
        </div>

        <div class="form-group col-md-6 text-right">
          <label>اللقب  </label>
          <input type="text" class="form-control" formControlName="nom" 
          [(ngModel)]="selectedMissionnaire.nom" >
        </div>
    </div>
    <div class="row">

            <div class="form-group col-md-6">
              <label>Nationalite </label>
              <input type="text" class="form-control" formControlName="nationaliteL"  
              [(ngModel)]="selectedMissionnaire.nationaliteL" > 
            </div>

            <div class="form-group col-md-6 text-right">
                <label>الجنسية</label>
                <input type="text" class="form-control" formControlName="nationalite" [(ngModel)]="selectedMissionnaire.nationalite" >
              </div>
    </div>
    <div class="row">

              <div class="form-group col-md-6 text-right">
                <label> الرتبة </label>
                <select class="form-control" formControlName="graade" [(ngModel)]="selectedMissionnaire.graade">
                  <option *ngFor="let grade of grades" [ngValue]="grade">{{grade.libGrda}}</option>
                </select>
              </div>

              <div class="form-group col-md-6 text-right">
                <label>الوظيفة</label>
                <select class="form-control" formControlName="fonnction" [(ngModel)]="selectedMissionnaire.fonnction">
                  <option *ngFor="let fonction of fonctions" [ngValue]="fonction">{{fonction.libFonca}}</option>
                </select>
              </div>
    </div>
    <div class="row">

              <div class="form-group col-md-6 text-right">
                  <label>صنف</label>
                  <select class="form-control" formControlName="codCat" [(ngModel)]="selectedMissionnaire.codCat">
                    <option *ngFor="let categorie of categories" [ngValue]="categorie">{{categorie.libCatAr}}</option>
                  </select>
                </div>
                
                <div class="form-group col-md-6 text-right">
                  <label>سلك</label>
                  <select class="form-control" formControlName="classgrd" [(ngModel)]="selectedMissionnaire.classgrd">
                    <option *ngFor="let classe of classes" [ngValue]="classe">{{classe.libclassgrda}}</option>
                  </select>
              </div>
    </div>
    <div class="row">

               <div class="form-group col-md-6 text-right">
                  <label>المجموع</label>
                  <input type="text" class="form-control" formControlName="groupe"  
                  [(ngModel)]="selectedMissionnaire.groupe">
                </div>
                <div class="form-group col-md-6 text-right">
                  <label>مستوى التاجير</label>
                  <input type="text" class="form-control" formControlName="niveau" 
                  [(ngModel)]="selectedMissionnaire.niveau">
                  <input type="text" class="form-control" formControlName="code" 
                  [(ngModel)]="cod" hidden>

                </div>
    </div>
              <div>
              <button class="btn btn-success"  
              (click)="operation == 'ADD' ? add() : operation=='EDIT'? update() : operation=='REMOVE'? remove() : '' ">
                {{ operation == 'ADD' ? 'اظافة' : operation == 'EDIT' ? 'تغيير':operation == 'REMOVE' ? 'حذف' : ''}}
                </button>
              </div>
      </form>
</div>
</div>
</div>
</body>
</html>